html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.6rem;
  background: #fff;
  color: #000;
  
}

/*CONTENEDOR: MAIN-GAME*/
.game{
    width: 800px;
    height:800px; 
    /*margin: 2rem 0;
    /margin: 2rem 0;*/
    margin: auto;
    margin-top: 2rem; margin-bottom: 2rem;
    text-align: center; 
}

main {
 
}
.cont_juego{
    display: flex;
    justify-content:space-around;
    flex-wrap: nowrap; 
}
#game{
    width: 800px;
    height:800px;
    border: 5px solid blue;
}

 /*{
    width: 800px;
    height:200px;
    border: 4px solid red;
    margin-top: 500px; 
}*/

a {
  color: #c39;
}



/*#game {
  border: 5px solid rgb(51, 51, 51);
}*/

.footer {
  padding-top: 10px;
  object-position: bottom;
  text-align: center;
}
